.multi-menu {
  width: 300px;
  background-color: #ccc;
}

.multi-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.arrow {
  display: flex;
  height: 25px;
  width: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 4px solid #000;
  }
}
