.header {
  height: 80px;
  background-color: aquamarine;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  .container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
  }

  .logo {
    flex: 1;
  }
}
