* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sideBarAndPageContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}